*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('vintage-concrete.png');
}

main {
  margin: 10px;
}

.flexbox {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content:space-around;
  padding: 10px;
  flex-direction: column;
}

canvas {
  margin: 10px;
  box-shadow: 1px 1px 5px rgba(25,25,25,.25);
  flex-grow:0;
  background:white;
}

.btn-cont {
  display:flex;
  flex-direction:column;
}

#comlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 150px;
  margin: 5px;
  padding: 10px;
}

#com-cont h2 {
  text-align: center;
  text-decoration: underline;
  text-transform:uppercase;
  padding: 10px;
}


#comnotes *{
  text-align: center;
}

#comnotes li {
  color: darkslategrey;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: px;
}

header h4 {
  margin: 5px auto;
}

li {
  text-align: left;
  list-style: none;
  margin-bottom:5px;
}

button {
  margin: 2px;
  padding: 5px;
  border: 1px solid darkslategrey;
  border-radius: 5px;
}

#prog-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px){
  .flexbox{
    flex-direction: row;
    align-items:flex-start;
  }

  textarea{
    margin: 10px;
  }
}