@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
}

body {
  background-image: url('vintage-concrete.png');
  font-size: 20px;
}

canvas {
  box-shadow: 1px 1px 5px rgba(25, 25, 25, .25);
  background: white;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

button {
  margin: 2px;
  padding: 5px;
  border: 1px solid darkslategrey;
  border-radius: 5px;
  font-size: 20px;
}

section {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column-reverse;
}

#prog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-----------------------------
    USER REFERENCE SECTION
-----------------------------*/
#com-cont {
  display: flex;
  border: 2px solid darkgray;
  padding: 10px;
}

#comlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 150px;
  border: 1px solid darkgray;
  padding: 0px 5px;
}

#com-cont h2, h3 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#comnotes * {
  text-align: center;
}

#comnotes li {
  color: darkslategrey;
}

.btn-cont {
  display: flex;
  flex-direction: column-reverse;
}

#colors li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2em;
  text-align: left;
}

.swatch {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid darkgray;
}

/*---------------------------------
    MEDIA QUERIES
----------------------------------*/
@media screen and (min-width: 768px) {
  section {
    flex-direction: row;
    align-items: flex-start;
  }

  textarea {
    margin: 10px;
    font-size: 20px;
  }

  .btn-cont {
    display: flex;
    flex-direction: column;
  }
}